.o_form_view .o_field_widget.otd_product_full {
  max-width: 100%;
  width: 100%;
}

.o_form_view .o_field_widget.otd_product_full .o_input,
.o_form_view .otd_product_full .o_input {
  width: 100%;
}
